.category-title {
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.category-route-container {
  margin: 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}
